
body input[type=text] {
    background-color: #F0F4F5;
    border-radius: 4px;
    border: 1px solid #0098A6;
    padding: 2px
}

body input[type=checkbox] {
    background-color: white;
    border-radius: 4px;
    border: 1px solid #0098A6;
}


body select {
    background-color: #F0F4F5;
    border-radius: 4px;
    border: 1px solid #0098A6;
    padding: 2px
}


.divcategoria {
    position: relative;
    top: -55px;
}

.divcadcategoria {
    position: absolute;
    top: 150px;
}

    .divcadcategoria table, td, tr {
        padding: 2px;
    }

.cadCategoriaLabel {
    text-align: end;
}

#cadCategoriaLabel {
    align-content: flex-end;
}

.btnIncluir {
    position: relative;
    left: 80%;
    border-bottom-left-radius: 5px;
    height: 20px;
    font-size: smaller;
    background-color: #0098A6;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
}

.GridCadastro {
    background-color: #F0F4F5;
    color: black;
}

    .GridCadastro table, th, td {
        border: hidden;
    }

    .GridCadastro th {
        text-align: center;
        background-color: #0098A6;
        color: white;
    }

    .GridCadastro td {
        padding: 5px;
        text-align: left;
        border: 1px solid #0098A6;
    }

    .GridCadastro tr td table td {
        border: hidden;
    }


.MsgErro {
    border: hidden;
    color: red;
    background-color: #FFFFFF;
}

.TableUsuarios {
    float: left;
}

.Modulos {
    float: right;
    position: relative;
}

    .Modulos ol {
        list-style-type: none;
    }
