
.menu-master li {
    border-radius: 40px;
}


#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #EDEDED;
    list-style: none;
}

    #menu ul li {
        display: inline;
    }

        #menu ul li a {
            padding: 2px 10px;
            display: inline-block;
            /* visual do link */
            background-color: #EDEDED;
            color: #333;
            text-decoration: none;
            border-bottom: 3px solid #EDEDED;
        }

.modalcategoria {
    position: absolute;
    left: 50px;
    top: 100px;
    right: 50px;
    bottom: 0;
    width: auto;
    height: auto;
}

.divcategoria {
    position: relative;
    top: 100px;
}

.menuDocumentos {
    position: absolute;
    left: 3%;
}

.divDocumentos {
    position: absolute;
    left: 20%;
    right: 3%;
}


#criamenu {
    position:absolute;
    left: 3%;

    margin: 0;
    padding: 0;
}

ol.tree {
    padding: 0 0 0 30px;
    width: 300px;
}

#criamenu li {
    position: relative;
    margin-left: -15px;
    list-style: none;
}





    #criamenu li input {
        position: absolute;
        left: 0;
        margin-left: 0;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        height: 1em;
        width: 1em;
        top: 0;
    }

        #criamenu li input + ol {
            background: url(../Imagens/toggle-small-expand.png) 40px 0 no-repeat;
            margin: -0.938em 0 0 -44px; /* 15px */
            height: 1em;
        }

            #criamenu li input + ol > li {
                display: none;
                margin-left: -14px;
                padding-left: 1px;
            }

    #criamenu li label {
        background: url(../Imagens/folder-horizontal.png) 15px 1px no-repeat;
        cursor: pointer;
        display: block;
        padding-left: 37px;
    }

    #criamenu li label.file {
        background: url(../Imagens/document.png) 15px 1px no-repeat;
        cursor: pointer;
        display: block;
        padding-left: 37px;
    }

    #criamenu li input:checked + ol {
        background: url(../Imagens/toggle-small.png) 40px 5px no-repeat;
        margin: -1.25em 0 0 -44px; /* 20px */
        padding: 1.563em 0 0 80px;
        height: auto;
    }

        #criamenu li input:checked + ol > li {
            display: block;
            margin: 0 0 0.125em; /* 2px */
        }

            #criamenu li input:checked + ol > li:last-child {
                margin: 0 0 0.063em; /* 1px */
            }


/*.StaticMenuStyle {
    border: solid;
    border-color: darkolivegreen;
    border-left: thick;
    border-right: groove;
}

    .StaticMenuStyle a.static.highlighted {
        color: red !important;
    }*/

.PanelPesquisa {
    position: relative;
    left: 12%;
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 89%;
    box-sizing: border-box;
    margin: 20px 40px;
    padding: 20px;
    display: none;
}

.btnShowDiv {
    position: relative;
    left: 98%
    
}