.body {
    background-color: #FFFFFF;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.header {
    position: relative;
    top: -50px;
}

.mainclass {
    position: relative;
    top: -54px;
    left: 15%;
    width: 90%;
}

.MasterHeader {
    position: relative;
    background-color: #0098A6;
}

    .MasterHeader img {
        width: 6.5%;
        margin-left: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
    }


.menu-master li {
    border-radius: 40px;
}


#menu ul {
    padding: 0px;
    margin: 0px;
    /*background-color: #EDEDED;*/
    list-style: none;
    background-color: #0098A6;
}

    #menu ul li {
        display: inline;
    }

        #menu ul li:hover {
            background-color: #00ace6;
        }

        #menu ul li a {
            padding: 2px 10px;
            display: inline-block;
            color: #FFFFFF;
            text-decoration: none;
            border-bottom: 3px;
        }

/*.modalcategoria {
    position: absolute;
    left: 50px;
    top: 100px;
    right: 50px;
    bottom: 0;
    width: auto;
    height: auto;
}*/

/*.divcategoria {
    position: relative;
    top: 100px;
}*/

/*.menuDocumentos {
    position: absolute;
    left: 3%;
}*/

.divDocumentos {
    position: relative;
    left: 1%;
    width: 100%;
}

    .divDocumentos table, th, td {
        border: hidden;
        background-color: #F0F4F5;
    }

        .divDocumentos table th {
            text-align: center;
            background-color: #0098A6;
            color: white;
        }

    .divDocumentos td {
        padding: 5px;
        text-align: left;
        border: 1px solid #0098A6;
    }

    .divDocumentos tr:hover {
        background-color: #C6E2FF;
    }

    .divDocumentos table tr td table td {
        border: hidden;
    }

#criamenu {
    position: absolute;
    left: 3%;
    margin: 0;
    padding: 0;
    top: 130px;
    width: 220px;
    border-right: 1px solid #B9D3EE;
    color: #6CA6CD;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

ol.tree {
    padding: 0 0 0 30px;
    width: 300px;
}

#criamenu li {
    position: relative;
    margin-left: -50px;
    list-style: none;
    font-size: small;
}






    #criamenu li input {
        position: absolute;
        left: 0;
        margin-left: 0;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        height: 1em;
        width: 1em;
        top: 0;
    }

        #criamenu li input + ol {
            background: url(../Imagens/toggle-small-expand.png) 40px -3px no-repeat;
            margin: -1.250em 0 0 -44px; /* 15px */
            height: 1em;
        }

            #criamenu li input + ol > li {
                display: none;
                margin-left: -14px;
                padding-left: 1px;
            }

    #criamenu li label {
        background: url(../Imagens/icons8-folder-16.png) 15px 1px no-repeat;
        cursor: pointer;
        display: block;
        padding-left: 37px;
    }

        #criamenu li label:hover {
            text-decoration: underline;
        }

        #criamenu li label.file {
            background: url(../Imagens/icons8-binder-15-2.png) 15px 1px no-repeat;
            cursor: pointer;
            display: block;
            padding-left: 37px;
        }

    #criamenu li input:checked + ol {
        background: url(../Imagens/toggle-small.png) 40px 0 no-repeat;
        margin: -1.50em 0 0 -44px; /* 20px */
        padding: 1.563em 0 0 80px;
        height: auto;
    }

        #criamenu li input:checked + ol > li {
            display: block;
            margin: 0 0 0.125em; /* 2px */
        }

            #criamenu li input:checked + ol > li:last-child {
                margin: 0 0 0.063em; /* 1px */
            }


/*.StaticMenuStyle {
    border: solid;
    border-color: darkolivegreen;
    border-left: thick;
    border-right: groove;
}

    .StaticMenuStyle a.static.highlighted {
        color: red !important;
    }*/

.PanelPesquisa {
    position: relative;
    left: 12%;
    background-color: #F0F4F5;
    border: 5px solid #0098A6;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    left: 5%;
    width: 89%;
    box-sizing: border-box;
    margin: 20px 40px;
    padding: 20px;
    display: none;
}

    .PanelPesquisa table td {
        border: none;
    }

.tdText {
    text-align: right;
}

.BtnPesquisar {
    background-color: #C1CDCD;
    border-radius: 2px;
}

.btnShowDiv {
    position: relative;
    left: 90%;
    border-bottom-left-radius: 5px;
    height: 20px;
    font-size: smaller;
    background-color: #0098A6;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
}

.BtnPesquisar {
    background-color: #0098A6;
    color: white;
    border: hidden;
}

#btnLogout:hover {
    cursor: pointer;
}


#btnLogout {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
}

.divLogout {
    position: absolute;
    right: 1%;
    top: 20%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #F0F4F5;
    color: #0098A6;
    padding: 10px;
 
}

.DivAcessoNegado p{
    text-align:center;
    color:red;
}

.PanelPdf {
    position: relative;
    left: 12%;
    background-color: #F0F4F5;
    border: 5px solid #0098A6;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    left: 5%;
    width: 89%;
    box-sizing: border-box;
    margin: 20px 40px;
    padding: 20px;
    display: none;
}

    .PanelPdf iframe {
        width: 100%;
        height: 400px;
    }